/*navbar*/
.navbar{
    margin-bottom: 0%;
}
.b{
	color:red;
}
/*footer*/
.footer {
    padding: 20px;
    text-align: center;
    background: rgb(53, 52, 52);
    margin-top: 20px;
    color: white;
  }